# Gradle files
.gradle/
/build/
!gradle-wrapper.jar
/local.properties


# Android Studio files
captures/

# Keystore files
*.jks
*.keystore

# Google Services
/google-services.json

# NDK
/obj/

# IntelliJ
*.iml

# Miscellaneous
*.log
*.swp
*.swo
*.swn

# Exclude generated JSON files
/out/

# Crashlytics
fabric.properties
.crashlytics/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Gradle Wrapper
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar

# Dependency directories
/.gradle/
/build/

# Kotlin
/.konan/

*.idea/

# Virtual device files
*.hprof
*.lock
*.log
*.mp4

# Custom exclusions
*.apk
*.aab
*.dex


.DS_Store
.DS_Store?
